.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  width: fit-content;
  &Rose {
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(244 63 94);
    &:hover:enabled {
      background-color: rgb(251 113 133);
      cursor: pointer;
    }
  }
  &:disabled {
    border: none;
    color: rgb(100 116 139);
    background-color: rgb(203 213 225);
  }
}
