.light {
  font-weight: 200;
}
.semibold {
  font-weight: 500;
}
.bold {
  font-weight: 600;
}
.xxbold {
  font-weight: 900;
}
.sm {
  font-size: 0.8rem;
}
.md {
  font-size: 1rem;
}
.lg {
  font-size: 1.2rem;
}
.lg1 {
  font-size: 1.4rem;
}
.xl {
  font-size: 1.6rem;
}
.xl1 {
  font-size: 2rem;
}
.xxl {
  font-size: 2.6rem;
}
